<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>GitHub VWC</title>
    <!-- CSS not linking. / COMPLETED-->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- Add more navigation links -->
            </ul>
        </nav>
        <h1>What Up Jerome</h1>
    </header>
    <main>