<%- include("partials/header") %>

    
   <section>
    <div>
    <h2>Going to attempt to make this a dynamic website where I can upload each section into web pages for easy reading and 
        practice using ejs.
    </h2>
    </div>
   </section>

   <section class="followers">
<h1>Engage with GitHub Community</h1>

    <h2>I utilized the search bar, positioned at the top of the page, to identify and connect with 
        individuals whom I intend to follow. 
        These individuals have diverse backgrounds and are drawn from various spheres:</h2>

        <ul>
            <li><i><b><u>In-Person Meetups</u></b></i>: I have encountered and established connections
                 with individuals during local meetups within my geographical vicinity.</li>
            <li><i><b><u>YouTube Followers</u></b></i>: Individuals who actively follow my content on YouTube,
                 engaging in discussions and fostering a community.</li>
            <li><i><b><u>Vets Who Code</u></b></i>: I've connected with members of the "Vets Who Code" community, 
                forging professional relationships and exchanging insights within this specialized group.</li>
        </ul>
   
   
    </section>


    
<%- include("partials/footer") %>