<%- include("partials/header") %>

    
   <section>
    <div>
    <h2>Going to attempt to make this a dynamic website where I can upload each section into web pages for easy reading and 
        practice using ejs.
    </h2>
    </div>
   </section>


    
<%- include("partials/footer") %>